body 
{
    background-color: rgb(151, 247, 194);
  }
  h1 {
    color: rgb(1, 10, 6);
    margin-left: 20px;
    font-size : 50px;
    text-align: center;
  }
  
.center {
    text-align: center;
    color: rgb(25, 28, 201)
    font: size 18px;
  }
.btn
{
  width:60px;
  margin:auto;
  

}
