body {
    background-color: rgb(127, 250, 183);
  }
  
  h1 {
    color: rgb(7, 7, 7);
    margin-left: 20px;
    font-size : 50px;
    text-align: center;
  }
  #p2
  {
    text-align: center;
    margin-left: 20px;
    font-size : 50px;
    color: rgb(233, 166, 22);
  }
  #para1 {
    text-align: center;
    color: rgb(8, 8, 8);
  }
  .center {
    text-align: center;
    color: red;
  }
  body {
    background-color: rgb(0, 196, 245);
  }
  
  h1 {
    color: rgb(251, 255, 0);
    margin-left: 20px;
    font-size:30px;
  }
  #para1 {
    text-align: center;
    color: rgb(0, 183, 255);
  }
  .center {
    text-align: center;
    color: rgb(141, 238, 84);
  }